/* CSS Document */
body,td,th { font-family:ËÎÌå;font-size:12px;color:#666666;}
body{
   background-color:#C3C3C3;
   background-image: url(../images/img01.gif);
   background-repeat: repeat-x;
   margin: 0px;
}
#header{
   height: 110px;
   margin:0 auto;
   background-image: url(../images/bg0.gif);
   background-repeat: repeat-x;
}

#header #logo { float: left;padding-top: 16px;padding-left: 24px;}
#header #logo span {
   color: #0C6785;
   font-weight: bold;
   font-size: 14px;
   line-height: normal;
   letter-spacing: 1px;
   font-family:  Arial;
}
#header #banner {
   font-family: "ºÚÌå";
   font-size: 46px;
   color: #FF0000;
   float: left;
   margin-left: 50px;
   padding-top: 23px;
}
#header #computer { margin:5px 5px 0 0;float: right;}

#footer {
   background-image: url(../images/img02.gif);
   background-repeat: 
   repeat-x;text-align: center;
   background-color: #E0ECFF;
   clear:both;
   padding: 20px 0;
}
