body,td,th {
	font-family:  宋体;
	font-size: 12px;
	color: #666666;
}
body {
    background-color:#C3C3C3;
	background-image: url(../images/img01.gif);
	background-repeat: repeat-x;
	margin: 0px;
}

#header {
	height: 110px;
	margin:0 auto;
	background-image: url(../images/bg0.gif);
	background-repeat: repeat-x;
}
#header #logo {
	float: left;
	padding-top: 16px;
	padding-left: 24px;
}
#header #logo span {
	color: #0C6785;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 1px;
	font-family:  Arial;
}
#header #banner {
	font-family: "黑体";
	font-size: 46px;
	color: #FF0000;
	float: left;
	margin-left: 80px;
	padding-top: 23px;
}
#header #menu {
	float: left;
	width: 560px;
	padding-top: 24px;
	margin-left:30px;
}
#header #menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#header #menu li {
	display: inline;
}
#header #menu a {
	font-size: 16px;
	font-family: "黑体";
	color: #0C6785;
	display: block;
	padding: 31px 10px;
	float: left;
	text-decoration: none;
}
#header #menu a:hover {
	background-image: url(../images/img02.gif);
	background-repeat: repeat-x;
	background-color: #CCCCCC;
}
#header #computer {
    margin:5px 5px 0 0;
	float: right;
}
#footer {
	background-image: url(../images/img02.gif);
	background-repeat: repeat-x;
	text-align: center;
	background-color: #E0ECFF;
	clear:both;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}

.inputtext {
	margin: 0px;
	height: 16px;
	width: 90px;
	padding-left: 6px;
}
#main #left p {
  margin:0;
  padding:10px; 
  text-align:center; 
  width:90%;
  color:#006699;
  font-family: "黑体";
  font-size: 16px;
}
#main #left #list {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #336699;
	clear:both;
}
#main #left #list ul {
	list-style-image: url(../images/DOT1_d.GIF);
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#main #left #list li {
	margin-top: 6px;
}
#main #left #list a {
	font-size: 13px;
	color: #333;
	text-decoration: none;
}
#main #left #list a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#main {
	width: 98%;
	margin: 0 auto;
}
#main #left {
	background-color: #E0ECFF;
	float: left;
	height: 500px;
	width: 29%;
}
#main #right {
	background-color: #FFFFFF;
	float: right;
	height: 500px;
	width: 70%;
}
#main #right p {
	text-align: center;
	padding-top: 20px;
}